files:
  "/tmp/install-newrelic.sh":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/bin/bash

      SERVER_MONITOR_RPM=
      NEWRELIC_JAVA_PLUGIN_URL=
      NEWRELIC_LICENSE_KEY=YOUR_KEY
      NEWRELIC_ENABLE=yes

      logMsg()
      {
        INITPID=$$
        PROG="newrelic-install"
        logger -t ${PROG}[$INITPID] $1
        echo $1
      }

      # We always install the agent because of the JVM options requirement
      # Override from beanstalk config params
      if [ ! -z "${NEWRELIC_JAVA_PLUGIN_URL}" ]; then
        AGENT_DOWNLOAD_URL=${NEWRELIC_JAVA_PLUGIN_URL}
      else
        AGENT_DOWNLOAD_URL=https://oss.sonatype.org/content/repositories/releases/com/newrelic/agent/java/newrelic-java/3.28.0/newrelic-java-3.28.0.zip
      fi

      if [ ! -z "${NEWRELIC_SERVER_PLUGIN_RPM}" ]; then
       SERVER_MONITOR_RPM=${NEWRELIC_SERVER_PLUGIN_RPM}
      else
        SERVER_MONITOR_RPM=http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
      fi

      NEWRELIC_CONFIG=/newrelic/newrelic.yml

      logMsg "Downloading the newrelic agent"
      wget ${AGENT_DOWNLOAD_URL} -O /tmp/newrelic.zip --quiet
      RET=$?

      if [ ! -z "${NEWRELIC_LICENSE_KEY}" ]; then
        NR_LICENSE=${NEWRELIC_LICENSE_KEY}
      fi

      if [ $RET -ne 0 ]; then
        logMsg "Failed to download the newrelic agent"
      else
        logMsg "Successfully downloaded the newrelic agent to /tmp/newrelic.zip"

        unzip -o /tmp/newrelic.zip -d /
        RET=$?

        if [ $RET -ne 0 ]; then
          logMsg "Failed to extract the newrelic zip file"
        else
          logMsg "Successfully extracted the newrelic zip file to /newrelic"
          mkdir -p /newrelic/logs
          chmod a+w /newrelic/logs

          if [ ! -z "${NEWRELIC_LICENSE_KEY}" ]; then
            sed -i "/^  license_key:/c\ \ license_key: '${NEWRELIC_LICENSE_KEY}'" ${NEWRELIC_CONFIG}
          else
            logMsg "No newrelic license key proviced in NEWRELIC_LICENSE_KEY var"
          fi

          # sub in the application name
          BEANSTALKENV=`{ "Ref" : "AWSEBEnvironmentName" }`
          if [ "${BEANSTALKENV}" = "" ]; then
            BEANSTALKENV=UNKNOWN_EB_ENV
          fi
          sed -i "/^  app_name:/c\ \ app_name: '${BEANSTALKENV}'" ${NEWRELIC_CONFIG}

          # Set whether the agent should be enabled or not
          if [ ! -z "${NEWRELIC_ENABLE}" ] && [ "${NEWRELIC_ENABLE}" == "yes" ]; then
            logMsg "Enabling newrelic agent"
            sed -i "/^  agent_enabled:/c\ \ agent_enabled: true" ${NEWRELIC_CONFIG}

            if [ ! -z "${NEWRELIC_LICENSE_KEY}" ]; then
              logMsg "Installing the newrelic server monitor agent"
              # Install the server monitor
              rpm -Uvh ${SERVER_MONITOR_RPM}
              yum install -y newrelic-sysmond
              nrsysmond-config --set license_key=${NEWRELIC_LICENSE_KEY}
              /etc/init.d/newrelic-sysmond start
            fi
          else
            logMsg "newrelic agent not selected for enable - disabling"
            sed -i "/^  agent_enabled:/c\ \ agent_enabled: false" ${NEWRELIC_CONFIG}
            if [ -e "/etc/init.d/newrelic-sysmond" ]; then
              /etc/init.d/newrelic-sysmond stop
            fi
          fi
        fi
      fi

commands:
  00_install_newrelic:
    command: '/tmp/install-newrelic.sh'

